@import url("https://fonts.googleapis.com/css2?family=Epunda+Slab:ital,wght@0,300..900;1,300..900&family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Epunda+Slab:ital,wght@0,300..900;1,300..900&family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-epunda: "Epunda Slab";
  --font-bebas: "Bebas Neue";

  --color-primary: #6b4f4f;
  --color-secondary: #d9cab3;
  --color-accent: #a44a3f;
  --color-background: #f2ede4;
  --color-text: #2e2e2e;
}
body {
  background-color: #f2ede4;
}
