@import "tailwindcss";

@theme{
   --color-primary: #6B4F4F;
    --color-secondary: #D9CAB3;
    --color-accent: #A44A3F;
    --color-background: #F2EDE4;
    --color-text: #2E2E2E;
}
body{
    background-color:#F2EDE4 ;
}