@import "tailwindcss";
@theme {
  --color-primary: #6b4f4f;
  --color-secondary: #d9cab3;
  --color-accent: #a44a3f;
  --color-background: #f2ede4;
  --color-text: #f7f4f0;
}

body {
  background-color: var(--color-background);
}
